:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.card {
  background-color: #9d4242;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
.card h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}
.card p {
  margin: 0;
  font-size: 1em;
  color: #ccc;
}
.card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
